html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: rgb(251, 251, 251);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 40px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #f6f8fa;
}

table th:last-child {
  width: 100%;
}

table th,
table td {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}

table td a {
  color: #0366d6;
}
